.DS_Store
yarn/
configstore/

fish/fishd.*
fish/fish_variables
fish/secrets.fish
fish/completions
fish/fish_variables

nvim/pack
nvim/.netrwhist
nvim/plugin

karabiner/automatic_backups
karabiner/assets
/fish/datadog.fish
/hub

aerc/accounts.conf
iterm2

gh/hosts.yml
gh/state.yml

gatsby/sites/

.netrwhist

stripe/

# Stripe
nvim/config/stripe.vim
nvim/lua/stripe.lua
fish/functions/pay-remote-ssh.fish
fish/functions/stripe-config.fish
fish/stripe-config.fish
fish/stripe-setup.fish
fish/conf.d/stripe-abbrs-mac.fish
fish/conf.d/stripe-abbrs.fish
fish/functions/pay-remote-dev.fish
fish/functions/pay-remote-new.fish
hammerspoon/stripe.lua
dbalatero/

op/
.mono/
Lidarr/
NzbDrone/
Radarr/
Sonarr/
github-copilot/
