snippet ife "if err != nil"
if err != nil {
	$0
}
endsnippet

snippet rnerr "require.NoError"
require.NoError(t, err)
endsnippet

snippet re "require.Equal"
require.Equal(t, $1, $2)
endsnippet

snippet info "log.Info"
log.Info($0)
endsnippet

snippet infowf "log.Info with fields"
log.WithFields(log.Fields{"$1": $1}).Info("$0")
endsnippet

snippet error "log.Error"
log.Error($0)
endsnippet

snippet errorwf "log.Error with fields"
log.WithFields(log.Fields{"$1": $1}).Error("$0")
endsnippet
