
# Testing
snippet desc
describe '${1:logical grouping}' do
	${0}
end
endsnippet

snippet it
it '${1:does something}' do
	${0}
end
endsnippet

snippet exp "Rspec expect"
expect($1).$0
endsnippet

snippet tb "Rspec expect to be"
expect($1).to be($0)
endsnippet

snippet te "RSpec expect to equal"
expect($1).to eq($0)
endsnippet
