pane_frames false
default_layout "compact"

theme "night-owl"

themes {
    night-owl {
        fg "#d6deeb"
        bg "#011627"
        black "#011627"
        red "#ef5350"
        green "#22da6e"
        yellow "#addb67"
        blue "#82aaff"
        magenta "#c792ea"
        cyan "#21c7a8"
        white "#d6deeb"
        orange "#f78c6c"
    }
}
